version: "3.9"

services:
  api:
    build: .
    container_name: life_manager_api
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/life_manager_development
    stdin_open: true
    tty: true

  db:
    image: postgres:16
    container_name: life_manager_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: life_manager_development
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
